$spinner-width: 18px;
$spinner-height: 20px;

main {
	.form__container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		min-height: 90vh;
		margin: 0;
		form {
			display: flex;
				// position: absolute;
				// top: 5%;
				// left: 30%;
				// right: 30%;
				// flex-flow: column wrap;
				flex-direction: column;
				padding: 20px;
				gap: 10px;
				box-shadow: 0px 0px 12px grey;
				border-radius: 13px;
				max-width: 600px;
				width: 100%;
				
				label {
				//@include font(20px, 0.8);
				font-family: 'Poppins', sans-serif;
			}

			.logo__still {
				margin: 0 auto;
				width: 250px;
				height: 240px;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;

					&:hover {
						@include hover(azure);
					}
				}
			}

			.line {
				height: 1px;
				background: #e0e0e0;
				margin: 1rem 0;
			}

			input {
				padding: 10px;
				border: none;
				background: whitesmoke;
				border-radius: 8px;
			}

			input:focus {
				outline: 2px solid lighten(dodgerblue, 20%);
			}

			button {
				// color: lighten(#f00, 20%);
				// @include font-base(40px, 1.5);
				span {
					font-size: 1rem;
				}
			}
		}
	}
}
.spinner {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: spinner-width;
	height: spinner-height;

	animation-name: animSpinner;
}

@keyframes spinner__anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner__anim {
	display: flex;
	position: relative;
	height: $spinner-height ;
	width: $spinner-width;
}

div {
	animation: spinner__anim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}	