.tsite__tmain {
	position: relative;
	display: flex;
	align-items: center;
}

.left__panel {
	background: $primary;
	width: 588px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__access__portal {
		background: $white;
		height: 362px;
		width: 320px;
		padding: 32px;
		border-radius: 10px;
	}

	.site__logo {
		width: 106px;
		margin: 0 0 26px 68px;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.general--form {
		.form__module {
			position: relative;
			margin: 0 0 18px;

			.form__label {
				width: 93px;
				height: 24px;
				text-align: center;
				background: $white;
				color: $primary;
				position: absolute;
				z-index: 1;
				font-size: 16px;
				left: 3px;
			}

			.form__set {
				padding: 16px 0 0;

				#ctcEmail {
					margin: 0 0 10px;
				}

				input {
					border-radius: 5px;
					font-size: 16px;
					border-color: $gray-variant;
					width: 261px;
					height: 32px;
				}
			}

		}
	}

	.remText {
		margin: 0 0 14px;

		.remember {
			font-size: 16px;
			color: $primary;
		}
	}
	.form__action {
		display: flex;
		justify-content: center;
		padding: 0;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			.button {
				width: 126px;
				padding: 0;
				height: 32px;
				margin: 0 0 12px;
				border-radius: 10px;
				font-size: 16px;
			}
		}
	}
	.forText {
			list-style: none;
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 0;

			li {
				a {
					font-size: 16px;
					color: $primary;
					text-decoration: underline;
				}
			}
	}
}
.right__panel {
	background: $white;
	width: 900px;
	height: 100vh;
	border-radius: 33px 0 0 33px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__access__portal {
		width: 486px;
		background: $primary;
		height: 436px;
		color: $white;
		border-radius: 10px;
		padding: 38px 52px;

		.hedText {
			display: flex;
			justify-content: center;
			font-size: 24px;
			margin: 0 0 60px;
			padding: 0;
			color: $white;
		}
		.general--form {
			.form__module {
				position: relative;

				.form__label {
					width: 120px;
					height: 24px;
					text-align: center;
					background: $primary;
					color: $white;
					position: absolute;
					z-index: 1;
					font-size: 16px;
					left: 14px;
						// bottom: 34px;
					}

					.form__set {
						padding: 16px 0 0;

						#newPassword {
							color: $white;
							margin: 0 0 34px;
						}

						#confirmPassword {
							color: $white;
							margin: 0 0 28px;
						}

						input {
							border-radius: 5px;
							border: 2px solid $white;
							width: 380px;
						}
					}

					#confPassword {
						width: 195px;
					}
				}

				.form__action {
						margin: 0;
						padding: 0;
						list-style: none;
						display: flex;
						justify-content: space-around;


					.primary-line {
						width: 142px;
						color: $white;
						border-color: $white;
						border-radius: 10px;
					}

					.primary-tint {
						width: 142px;
						background: $white;
						border-radius: 10px;
						color: $primary;
					}
				}
			}
		}
	}
	.tsite__tfooter {
		font-size: 12px;
		position: absolute;
		z-index: 1;
		left: 42%;
		bottom: 1%;

		.copy {
			color: $medium;

			a {
				color: $medium;
			}
		}
	}
